<div class="page-header">
  <h1>{{ $ctrl.title }}</h1>
</div>
<div class="page-content">
  <div class="row">
    <div class="col-sm-4">
      <form ng-submit="$ctrl.submitMedicalInput()">
        <div class="form-group">
          <label>Input your cancer type</label>
          <input type="text" class="form-control" ng-model="$ctrl.data.medicalInput" placeholder="Type your answers here">
        </div>
        <button class="ng-hide" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
